@model IEnumerable<GameOfDrones_Rock_Paper_Scissors.Models.RoundHistory>

@{
    ViewBag.Title = "RoundHistoryList";
    Layout = "~/Views/Shared/_LayoutB.cshtml";
}
<body background="~/Images/stonewall.jpg">
</body>
<h2>Round Scoring</h2>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Round)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerOne)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.PlayerOneSelection)
        </th>

        <th>
            @Html.DisplayNameFor(model => model.PlayerTwo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PlayerTwoSelection)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Winner)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Round)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerOne)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.PlayerOneSelection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTwo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PlayerTwoSelection)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Winner)
        </td>
       
    </tr>
}

</table>

